
# weechat
weechat/irc.conf
weechat/plugins.conf
weechat/logs/
weechat/xfer
weechat/weechat.log
weechat/slack.cache
weechat/script/plugins.xml.gz

# vim
vim/bundle
vim/tmp
vim/spell

# runit user services
services/*/supervise
services/*/lock
services/*/current

# other
*.pyc
