[Unit]
Description=Feh Background Image Loader
After=display-manager.service
Wants=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/feh --bg-scale '/home/felix/Pictures/lain.png'

[Install]
WantedBy=default.target
