[Unit]
Description=XCape Modifier Key Modifier
After=display-manager.service
Wants=display-manager.service

[Service]
ExecStart=/usr/bin/xcape -d -t 100 -e 'Super_L=Scroll_Lock;Shift_L=Escape'

[Install]
WantedBy=default.target
