[Desktop Entry]
Name=transmission
GenericName=Torrent Client
Icon=transmission
Type=Application
Categories=Network;
Exec=transmission-remote --add %u
Terminal=false
StartupNotify=false
MimeType=application/x-bittorrent;x-scheme-handler/magnet;

